<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <% if (config.site_icon) { %>
    <link rel="icon" href="<%- staticFile(config.site_icon) %>" type="image/x-icon"/>
    <% } %>
    <title>Document</title>
    <link rel="stylesheet" href="<%- staticFile('antd.min.css') %>">
    <link rel="stylesheet" href="<%- staticFile('signin.min.css') %>">
    <meta content="_csrf" name="csrf-param">
    <meta content="<%= csrf %>" name="csrf-token">
</head>
<body>
<div id="framework"/>
<script src="<%- staticFile('react.min.js') %>"></script>
<script src="<%- staticFile('react-dom.min.js') %>"></script>
<script src="<%- staticFile('antd.min.js') %>"></script>
<script src="<%- staticFile('common.min.js') %>"></script>
<%- body %>
</body>
</html>
