<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- meta -->
    <meta charset="utf-8"/>
    <meta name='description' content='<%= config.description %>'>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords" content="<%= config.keywords %>"/>
    <!-- see http://smerity.com/articles/2013/where_did_all_the_http_referrers_go.html -->
    <meta name="referrer" content="always">

    <%
    var headers = config.site_headers || [];
    for (var i = 0, l = headers.length; i < l; i++) {
    %>
    <%- headers[i] %>
    <% } %>

    <link title="RSS" type="application/rss+xml" rel="alternate" href="/rss"/>

    <% if (config.site_icon) { %>
    <link rel="icon" href="<%- staticFile('favicon.png') %>" type="image/x-icon"/>
    <% } %>
    <link rel="stylesheet" href="<%- staticFile('antd.min.css') %>">
    <link rel="stylesheet" href="<%- staticFile('index.min.css') %>">
    <!--[if lt IE 10]>
    <script src="https://as.alipayobjects.com/component/??console-polyfill/0.2.2/index.js,es5-shim/4.1.14/es5-shim.js,es5-shim/4.1.14/es5-sham.js,html5shiv/3.7.2/html5shiv.js"></script>
    <![endif]-->
    <title><%= config.description %></title>
    <meta content="_csrf" name="csrf-param">
    <meta content="<%= csrf %>" name="csrf-token">
</head>
<body>
<%- body %>
<!-- scripts -->
<script src="<%- staticFile('react.min.js') %>"></script>
<script src="<%- staticFile('moment.min.js') %>"></script>
<script src="<%- staticFile('react-dom.min.js') %>"></script>
<script src="<%- staticFile('antd.min.js') %>"></script>
<script src="<%- staticFile('common.min.js') %>"></script>
<script src="<%- staticFile('index.min.js') %>"></script>
</body>
</html>
